<style type="text/css">
  hr.light-grey-hr {margin-bottom: 15px}
</style>
<div class="col-md-11">
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
        <li class="active"><a data-toggle="tab" role="tab" href="#tab_1">基本信息</a></li>
        <li><a data-toggle="tab" role="tab" href="#tab_2">附件资料</a></li>
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
          <div class="row">
            <div class="col-md-12">
              <div class="form-wrap">
                <form  class="form-horizontal" id="edit-form" name="edit-form" method="post" action="{url:/taxreco/save}">
                  <input type="hidden" name="id" value="{$id}">
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-body">
                    <table style="width: 100%;">
                      <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                        境内支付人
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*机构/个人名:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="name_n" value="{$name_n}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">纳税识别号:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="taxno_n" value="{$taxno_n}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*付汇银行:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="bankname_n" value="{$bankname_n}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*付汇账号:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="payano_n" value="{$payano_n}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*联系人:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="contacts_n" value="{$contacts_n}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*联系电话:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="telephone_n" value="{$telephone_n}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">主管地税机关:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="taxbureau_n" value="{$taxbureau_n}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">地税机关管理码:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="taxbureaucode_no" value="{$taxbureaucode_no}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-2">地址或住所:</label>
                          <div class="col-md-10">
                            <input type="text" class="form-control" name="address_n" value="{$address_n}" readonly>
                          </div>
                        </div>
                      </td>
                    </table>
                    <br>
                    <table style="width: 100%;">
                      <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                        境外收款人
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*名称:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="name_w" value="{$name_w}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*所属国家/地区:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="area_w" value="{$area_w}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">地址:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="address_w" value="{$address_w}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4"></label>
                              <div class="col-md-8">
                                <div class="checkbox checkbox-success">
                                  <input name="is_related_w" id="is_related_w" type="checkbox" {if:isset($is_related_w) && $is_related_w} checked {/if} value="1" readonly>
                                  <label for="is_related_w"> 境内外机构是否关联 </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*收汇银行:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="bankname_w" value="{$bankname_w}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*收汇帐号:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="receiveno_w" value="{$receiveno_w}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </table>
                    <br>
                    <table style="width: 100%;">
                      <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                        合同(协议)信息
                      </td>
                      <td>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*合同名称:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="name_h" value="{$name_h}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*合同号:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="number_h" value="{$number_h}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*合同总金额:</label>
                              <div class="col-md-5">
                                <input type="text" class="form-control" name="totalamt_h" value="{$totalamt_h}" readonly>
                              </div>
                              <div class="col-md-3">
                                <select class="form-control" id="totalcurrency_h" name="totalcurrency_h" readonly>
                                  <option></option>
                                  <option value="RBM">人民币</option>
                                  <option value="USD">美元</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*已付金额:</label>
                              <div class="col-md-5">
                                <input type="text" class="form-control" name="paidamt_h" value="{$paidamt_h}" readonly>
                              </div>
                              <div class="col-md-3">
                                <select class="form-control" id="paidcurrency_h" name="paidcurrency_h" readonly>
                                  <option></option>
                                  <option value="RBM">人民币</option>
                                  <option value="USD">美元</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*本次付汇金额:</label>
                              <div class="col-md-5">
                                <input type="text" class="form-control" name="payamt_h" value="{$payamt_h}" readonly>
                              </div>
                              <div class="col-md-3">
                                <select class="form-control" name="paycurrency_h" id="paycurrency_h" readonly>
                                  <option></option>
                                  <option value="RBM">人民币</option>
                                  <option value="USD">美元</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*付汇日期:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="paydate_h" value="{$paydate_h}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*合同执行期从:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="begindate_h" value="{$begindate_h}" readonly>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label col-md-4">*到:</label>
                              <div class="col-md-8">
                                <input type="text" class="form-control" name="enddate_h" value="{$enddate_h}" readonly>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-2">声明:</label>
                          <div class="col-md-10">
                            <textarea class="form-control" name="note" readonly>{$note}</textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-2">受理说明:</label>
                          <div class="col-md-10">
                            <textarea class="form-control" name="approved_note"  {if:isset($status) && ($status!=2)}readonly{/if}>{$approved_note}</textarea>
                          </div>
                        </div>
                        <div class="form-actions mt-20">
                          {token:key=form}
                          <div class="form-group">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9">
                              {if:$status==2}
                              <button type="button" class="btn btn-primary mr-20" id="btnsave1">受理申请</button>
                              <button type="button" class="btn btn-success" id="btnsave2">补充资料</button>
                              {else:}
                              <button type="button" disabled class="btn btn-default mr-20">申请受理</button>
                              <button type="button" disabled class="btn btn-default">补充资料</button>
                              {/if}
                            </div>
                          </div>
                        </div>
                      </td>
                    </table>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget con=taxreco sourceid=$id type=$this->attachType}
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
    $("#btnsave1").on("click",function(){
      swal({   
        title: "您确认要受理申请吗？",   
        text: "受理申请后将无法撤销！",   
        showCancelButton: true,  
        cancelButtonText: "否，再看看",   
        confirmButtonColor: "#635bd6",   
        confirmButtonText: "是，立刻受理",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(4);
        $("#edit-form").submit();
      });
    });

    $("#btnsave2").on("click",function(){
      $("#status").val(3);
      $("#edit-form").submit();
    });

    $(document).ready(function() {
      $("#totalcurrency_h").val('{$totalcurrency_h}');
      $("#paidcurrency_h").val('{$paidcurrency_h}');
      $("#paycurrency_h").val('{$paycurrency_h}');
  });

</script>

    
