<div class="container-fluid">
  <form action="{url:/taxanno/index}" method="post" id="main_form" name="main_form">
    <div class="panel-heading">
        <div class="pull-left">
          <a class="btn btn-sm btn-primary op-new" href="javascript:;" >
              <i class="fa fa-plus"></i>
              <span>新公告</span>
          </a>
        </div>
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-control seach" name="scope" id="scope">
                        {widget:name=list action=announcescopeWidget}
                    </select>
                </div>
                <div class="form-group">
                    {widget:name=list action=statusWidget statusMap=$this->entity->statusMap}
                </div>
                <button type="submit" class="btn btn-primary btn-sm" id="btn_searchId">查找
                </button>
             </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper">
      <div class="panel-body">
        <div class="table-wrap">
          <table class="table table-responsive table-hover">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>公告标题</th>
                      <th>公告范围</th>
                      <th>发布时间</th>
                      <th>状态</th>
                      <th style="width: 100px; text-align: center;">操作</th>
                  </tr>
              </thead>
              <tbody>
                  {list:items=$data["data"]}
                  <tr  data-refid="{$item['id']}">
                      <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                      <td><a style='color:blue;' href="{$item['url']}" target="_blank">{$item["title"]}</a></td>
                      <td>{$item["scopename"]}</td>
                      <td>{$item["created_time"]}</td>
                      <td><span class="label label-{$item['label']}">{$item["statusname"]}</span></td>
                      
                      <td class="text-nowrap text-center">
                          <a class="op-edit" href="javascript:;" data-original-title="修改"> 
                              <i class="fa fa-lg fa-pencil text-primary"></i> 
                          </a> 
                      </td>
                  </tr>
                  {/list}
              </tbody>
          </table>
          <div class="page_nav">
          {echo:$data['html']}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{widget:name=public action=commandWidget con=taxanno width=800 height=400 title=公告}

<script type="text/javascript">
    $(document).ready(function() {
      $("#status").val("{$status}");
      $("#scope").val("{$scope}");
    });
</script>


