<style type="text/css">
    td >img.head-pic {width: 32px;height: 32px;}
</style>
<form action="{url:/taxetp/index}" method="post" id="main_form" name="main_form">
    <div class="panel-heading">
        <div class="pull-left">
            <div class="pull-left">
            <div class="button-list">
                <a class="btn btn-sm btn-primary op-new">
                    <i class="fa fa-plus"></i>
                    <span>新企业</span>
                </a>
            </div>
        </div>
        </div>
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control seach" id="ct__name_or_ct__full_name" name="ct__name_or_ct__full_name" placeholder="企业名称" value="{$ct__name_or_ct__full_name}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control seach" id="ct__legal_representative" name="ct__legal_representative" placeholder="企业法人" value="{$ct__legal_representative}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control seach" id="ct__socialcredit_no" name="ct__socialcredit_no" placeholder="统一社会信用码" value="{$ct__socialcredit_no}">
                </div>
                <div class="form-group">
                    <select class="form-control seach" name="status" id="status">
                        <option value="">选择状态</option>
                        {list:items=(new EnterpriseEntity())->statusMap}
                            <option value="{$key}">{$item}</option>
                        {/list}
                    </select>
                </div>
                <button type="button" class="btn btn-primary btn-rounded btn-sm" id="btn_searchId">查找
                </button>
             </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-wrapper">
        <div class="panel-body">
            <div class="table-wrap">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>头像</th>
                            <th>企业名称</th>
                            <th>验证手机</th>
                            <th>法人代表</th>
                            <th>最后登录</th>
                            <th>接入时间</th>
                            <th>状态</th>
                            <th style="width: 100px; text-align: center;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {list:items=$data["data"]}
                        <tr data-refid="{$item['id']}">
                            <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                            <td>
                                <img class="head-pic" src={echo:Common::getAvatar($item['head_pic'])}>
                            </td>
                            <td>{$item["full_name"]}</td>
                            <td>{$item["mobile"]}</td>
                            <td>{$item["legal_representative"]}</td>
                            <td>{$item["last_login"]}</td>
                            <td>{$item["created_time"]}</td>
                            <td><span class="label label-{$item['label']}">{$item["statusname"]}</span></td>
                            <td class="text-nowrap text-center">
                                <a href="#" class="mr-5" data-toggle="tooltip" data-original-title="企业信息" onclick="info({$item['id']})"> 
                                    <i class="fa fa-lg fa-search text-primary"></i> 
                                </a> 
                                <a href="#" class="op-edit mr-5" data-toggle="tooltip" data-original-title="企业信息"> 
                                    <i class="fa fa-lg fa-edit text-primary"></i> 
                                </a>
                                <!--
                                <a href="#" class="mr-5" data-toggle="tooltip" data-original-title="信息发送" onclick="message({$item['id']},'{$item['name']}')"> 
                                    <i class="fa fa-lg fa-comments text-primary"></i> 
                                </a> 
                                <a onclick="analysis({$item['id']})" data-toggle="tooltip" data-original-title="风控分析"> 
                                    <i class="fa fa-lg fa-shield text-primary"></i> 
                                </a> 
                            -->
                            </td>
                        </tr>
                        {/list}
                    </tbody>
                </table>
                <div class="page_nav">
                {echo:$data['html']}
                </div>
            </div>
        </div>
    </div>
</form>
{widget:name=public action=commandWidget con=taxetp width=800 height=450 title=企业}


<script type="text/javascript">
    $(document).ready(function() {
        $("#status").val("{$status}");
    });
</script>

<script type="text/javascript">
   
    function info(id) {
        art.dialog.open("{url:/taxetp/info/id/}"+id,{id:'edit_dialog',title:'企业信息',resize:false,width:1000,height:500});
        return false;
    }

    function analysis(id) {
        art.dialog.open("{url:/taxetp/analysis/id/}"+id,{id:'edit_dialog',title:'风控分析',resize:false,width:1000,height:600});
        return false;
    }

</script>
