<!DOCTYPE html>

<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>大厅全景</title>
  <meta name="referrer" content="always">
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="renderer" content="webkit">
 <meta name="robots" content="all">
  <link rel="stylesheet" type="text/css" href="{url:@static/3d/common.626e537e11c59f4b01af.css}">
  <link rel="stylesheet" type="text/css" href="{url:@static/3d/panoPageV2.c6c42a1b9e013bf979fe.css}">
 
  <style>
    @-ms-viewport { width:device-width; }
    @media only screen and (min-device-width:800px) { html { overflow:hidden; } }
    html { height:100%; }
    body { height:100%; overflow:hidden; margin:0; padding:0; }
	.LBButton_title_1lPozS{    color: red;font-weight: bold;}
  </style>

</head>
  <div id="app"></div>
  <div class="script">
    <script type="text/javascript">
      
      window.__INITIAL_STATE__ = {
        'sceneType': 1,
        'data': {"author":{"uid":"f8ejO7hkuy7","expired":1,"nickname":"188*****235","cert":0,"avatar":"/avatar/system/17.jpg","id":1963857}
		,"product":{"property":{"updateDate":1589190607,"keywords":"","channel":{},"name":"大厅全景","remark":"","pid":"11vksyfhp8m",
		"id":13358307,"thumbUrl":"/resource/prod/af835b85s99/f8ejO7hkuy7/27530066/imgs/thumb.jpg","templateId":1,"selected":0,"createDate":1589184356}
		,"status":1,"pvCount":47,"process":0,"expired":1,"likeCount":0,"expireDate":null,"authorUid":"f8ejO7hkuy7","authorId":1963857,
		"config":{"scenes":[{"voice":{},"panoId":27530066,
		"hotspot":[{"frameHeight":"0","atv":"31.984","frameNumber":"1","blank":"0",
		"data":"欢迎光临，深圳前海税务局为您服务。","vectorIcon":{"vertexs":[
		{"ath":58.60738292382575,"atv":1.9010500659717395},
		{"ath":60.19573563997244,"atv":1.7623808448547684},
		{"ath":60.1477483331758,"atv":3.0830880565216967}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"欢迎光临","type":4,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"57","showTitle":"1","iconType":0,
		"isFrame":"0","fontSize":"14","id":"s_46069638_0","iconUrl":"","keepViewV2":"0"},
		{"frameHeight":"0","atv":"14.059000000000001","frameNumber":"1","blank":"1","data":{"sceneId":"","panoId":"27530210","effect":"5"},
		"vectorIcon":{},"title":"我要办事","type":0,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"87.344","showTitle":"1","iconType":1,
		"isFrame":"0","fontSize":"16","id":"s_46069638_1","iconUrl":"{url:@static/3d/new_spotd1.png}","keepViewV2":"0"},
		{"frameHeight":"0","atv":"0.8890000000000002","frameNumber":"1","blank":"0","data":"自动取号","vectorIcon":{},
		"title":"自动取号","type":4,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"68.335","showTitle":"1","iconType":1,
		"isFrame":"0","fontSize":"12","id":"s_46069638_2","iconUrl":"{url:@static/3d/new_spotd6.png}","keepViewV2":"0"}],
		"sound":{},"subtitle":{},"name":"pano","keyPoint":[],"id":46069638,"startImage":{"mobile":{"image":"","enabled":0},
		"config":{"duration":0},"pc":{"image":"","enabled":0}},"cdn":102},{"voice":{},
		"panoId":27530210,"hotspot":[{"frameHeight":"0","atv":"-13.62506409935778","frameNumber":"1","blank":"0",
		"vectorIcon":{"vertexs":[{"ath":56.19458009787763,"atv":5.779550560667442},
		{"ath":55.86639687478777,"atv":7.872216380509612},{"ath":59.42125011535779,"atv":9.110491696984216},
		{"ath":59.967443385167826,"atv":6.401908354292692}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"产业认定","type":1,"url":"{url:/etpdstx/index}","frameSpeed":"3","linkTitle":"",
		"frameWidth":"0","ath":"112.49392543654895","showTitle":"0","iconType":0,"isFrame":"0","fontSize":"12","id":"s_46069641_0","iconUrl":"",
		"keepViewV2":"0","isFullscreen":"0"},{"frameHeight":"0","atv":"-14.738313155484827","frameNumber":"1","blank":"0",
		"vectorIcon":{"vertexs":[{"ath":77.42099768521729,"atv":8.473895941896131},{"ath":77.17498257721411,"atv":11.502954075254909},
		{"ath":84.69777624433624,"atv":12.899124163450265},{"ath":85.1342819035251,"atv":9.236352560160412}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"退税业务","type":1,"url":"{url:/etprftx/index}","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"102.42356976413774",
		"showTitle":"0","iconType":0,"isFrame":"0","fontSize":"14","id":"s_46069641_1","iconUrl":"","keepViewV2":"0","isFullscreen":"0"},
		{"frameHeight":"0","atv":"-5.798016031040332","frameNumber":"1","blank":"0","vectorIcon":{"vertexs":[{"ath":115.00684835229245,"atv":10.059660965930076},
		{"ath":115.23308840383584,"atv":13.74114355961516},{"ath":124.56462312080035,"atv":13.150681465191512},{"ath":124.03952039510364,"atv":9.7567580806718}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"发票业务","type":1,"url":"{url:/etpinvo/index}","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"104.29747208886535","showTitle":"0",
		"iconType":0,"isFrame":"0","fontSize":"12","id":"s_46069641_2","iconUrl":"","keepViewV2":"0","isFullscreen":"0"},
		{"frameHeight":"0","atv":"-5.798016031040332","frameNumber":"1","blank":"0","vectorIcon":{"vertexs":[{"ath":148.6484994728999,"atv":7.7017160316026665},
		{"ath":149.302168261058,"atv":10.74210314690386},{"ath":154.98005225324272,"atv":10.025180407418851},{"ath":154.1084973581932,"atv":7.192367992764355}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"申报业务","type":1,"url":"{url:/etpdltx/index}","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"104.29962174991685","showTitle":"0",
		"iconType":0,"isFrame":"0","fontSize":"12","id":"s_46069641_3","iconUrl":"","keepViewV2":"0","isFullscreen":"0"},
		{"frameHeight":"0","atv":"-7.398814826982535","frameNumber":"1","blank":"0","vectorIcon":{"vertexs":[{"ath":166.2063000234018,"atv":5.403027551754785},
		{"ath":167.02489399605088,"atv":7.574810838695228},{"ath":169.7266288500877,"atv":7.051410347221339},{"ath":169.10012548340455,"atv":5.056322083477974}],
		"defaultState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#fcfcfc","borderColorAlpha":0,"borderWidth":0},
		"hoverState":{"fillColor":"#ffffff","fillColorAlpha":0,"borderColor":"#ffffff","borderColorAlpha":0,"borderWidth":0}},
		"title":"支付备案","type":1,"url":"{url:/etpreco/index}","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"116.10929623016645","showTitle":"0",
		"iconType":0,"isFrame":"0","fontSize":"12","id":"s_46069641_4","iconUrl":"","keepViewV2":"0","isFullscreen":"0"},{"frameHeight":"0","atv":"13.541",
		"frameNumber":"1","blank":"0","data":{"sceneId":"","panoId":"27530066","effect":"0"},"vectorIcon":{},"title":"返回大厅","type":0,"url":"","frameSpeed":"3",
		"linkTitle":"","frameWidth":"0","ath":"-159.107","showTitle":"1","iconType":1,"isFrame":"0","fontSize":"14","id":"s_46069641_5",
		"iconUrl":"{url:@static/3d/new_spotd3.png}","keepViewV2":"0"},{"frameHeight":"0","atv":"15.741","frameNumber":"1",
		"blank":"1","data":{"sceneId":"","panoId":"27530187","effect":"0"},"vectorIcon":{},"title":"办税大厅窗口06-09",
		"type":0,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"17.88","showTitle":"1","iconType":1,"isFrame":"0",
		"fontSize":"14","id":"s_46069641_6","iconUrl":"{url:@static/3d/new_spotd1.png}","keepViewV2":"0"}],"sound":{},
		"subtitle":{},"name":"01-05","keyPoint":[],"id":46069641,"startImage":{"mobile":{"image":"","enabled":0},
		"config":{"duration":0},"pc":{"image":"","enabled":0}},"cdn":102},{"voice":{},"panoId":27530187,
		"hotspot":[{"frameHeight":"0","atv":"19.149","frameNumber":"1","blank":"1","data":{"sceneId":"","panoId":"27530210","effect":"0"},"vectorIcon":{},
		"title":"办税大厅窗口01-05","type":0,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"-161.332","showTitle":"1","iconType":1,"isFrame":"0",
		"fontSize":"12","id":"s_46069640_0","iconUrl":"{url:@static/3d/new_spotd1.png}","keepViewV2":"0"},
		{"frameHeight":"0","atv":"15.198","frameNumber":"1","blank":"1","data":{"sceneId":"","panoId":"27530109","effect":"0"},"vectorIcon":{},
		"title":"办税大厅窗口10-13","type":0,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"20.766","showTitle":"1","iconType":1,"isFrame":"0",
		"fontSize":"12","id":"s_46069640_1","iconUrl":"{url:@static/3d/new_spotd1.png}","keepViewV2":"0"}],"sound":{},"subtitle":{},"name":"06-09","keyPoint":[],
		"id":46069640,"startImage":{"mobile":{"image":"","enabled":0},"config":{"duration":0},"pc":{"image":"","enabled":0}},"cdn":102},{"voice":{},
		"panoId":27530109,"hotspot":[{"frameHeight":"0","atv":"18.182","frameNumber":"1","blank":"1","data":{"sceneId":"","panoId":"27530187","effect":"0"},
		"vectorIcon":{},"title":"办税大厅窗口06-09","type":0,"url":"","frameSpeed":"3","linkTitle":"","frameWidth":"0","ath":"-163.157","showTitle":"1",
		"iconType":1,"isFrame":"0","fontSize":"12","id":"s_46069639_0","iconUrl":"{url:@static/3d/new_spotd1.png}","keepViewV2":"0"}],"sound":{},"subtitle":{},
		"name":"10-13","keyPoint":[],"id":46069639,"startImage":{"mobile":{"image":"","enabled":0},"config":{"duration":0},"pc":{"image":"","enabled":0}},"cdn":102}],
		"qr":"","logo":{},"switch":{"showAuth":0,"enableGyro":0,"enableComment":0,"showGyro":0,"showPv":0,"enableLittleplanet":0,"showComment":0,"showResolution":1,
		"showSceneName":0,"enableLike":0,"enableLocation":0,"showMenu":0,"enablePassword":0,"enableShare":0,"enableViewchange":0,"enableVr":0},"link":[],
		"category":{"groups":[{"scenes":[{"panoId":27530066,"showThumb":"1","thumb":"{url:@static/3d/image/thumb.jpg}",
		"name":"服务中心","id":46069638},{"panoId":27530210,"showThumb":"1","thumb":"{url:@static/3d/image/thumb01.jpg}","name":"窗口(01-05)",
		"id":46069641},{"panoId":27530187,"showThumb":"1","thumb":"{url:@static/3d/image/thumb02.jpg}","name":"窗口(06-09)","id":46069640},
		{"panoId":27530109,"showThumb":"1","thumb":"{url:@static/3d/image/thumb03.jpg}","name":"窗口(10-13)","id":46069639}],
		"title":"办事指南"}],"groupName":"","iconUrl":"{url:@static/3d/piclist2.png}","showThumb":"1","iconType":1}}}},
        'playerVersion': 'a132fbb594198aa0fb676d3591894223ae1705da8804f4327491f3fa8385b9b6',
        'xml': '<?xml version="1.0"?><krpano version="1.19"><include url="{url:@static/3d/lensflare.xml}"/>'+
		'<include url="{url:@static/3d/player.xml}"/><scene name="s_46069638" pano_id="27530066" scene_id="46069638">'+
		'<preview url="{url:@static/3d/image/27530066/preview.jpg}"/>'+
		'<image if="true"><cube url="{url:@static/3d/image/27530066/mobile_%s.jpg}"/>'+ 
		'</image></scene>'+
		'<scene name="s_46069641" pano_id="27530210" scene_id="46069641">'+
		'<preview url="{url:@static/3d/image/27530210/preview.jpg}"/>'+
		'<image if="true"><cube url="{url:@static/3d/image/27530210/mobile_%s.jpg}"/></image>'+
		'</scene>'+
		'<scene name="s_46069640" pano_id="27530187" scene_id="46069640">'+
		'<preview url="{url:@static/3d/image/27530187/preview.jpg}"/>'+
		'<image if="true"><cube url="{url:@static/3d/image/27530187/mobile_%s.jpg}"/></image>'+
		'</scene><scene name="s_46069639" pano_id="27530109" scene_id="46069639">'+
		'<preview url="{url:@static/3d/image/27530109/preview.jpg}"/>'+
		'<image if="true"><cube url="{url:@static/3d/image/27530109/mobile_%s.jpg}"/></image>'+
		'</scene>'+
		'<config><autoTours>'+
		'<tour title="一键导览" hideHotspots="false" loop="false" disableMusic="false" subtitlePosition="bottom" subtitleSize="16" subtitleBackground="black"/>'+
		'</autoTours><panos><pano name="s_46069638"><info title="pano111" pano_id="27530066"/>'+
		'<view autorotatekeepview="0" maxpixelzoom="2.0" fovmin="0.1" loadscenekeepview="0" fov="120" vlookatmax="90" vlookat="1.4275546379338437" fovmax="120" vlookatmin="-90" hlookat="375.72437271767166" fovtype="MFOV"/>'+
		'<autoplay duration="90" keep_originview="1" enabled="1" enter_next="1"/>'+
		'</pano><pano name="s_46069641"><info title="01-05" pano_id="27530210"/>'+
		'<view autorotatekeepview="0" maxpixelzoom="2.0" fovmin="70" loadscenekeepview="0" fov="120" vlookatmax="90" vlookat="-3.099103226437285" fovmax="120" vlookatmin="-90" hlookat="471.53073177445515" fovtype="MFOV"/>'+
		'<autoplay duration="90" keep_originview="0" enabled="1" enter_next="1"/></pano>'+
		'<pano name="s_46069640"><info title="06-09" pano_id="27530187"/>'+
		'<view autorotatekeepview="0" maxpixelzoom="2.0" fovmin="70" loadscenekeepview="0" fov="120" vlookatmax="90" vlookat="-1.279595469347497" fovmax="120" vlookatmin="-90" hlookat="107.80296051580439" fovtype="MFOV"/>'+
		'<autoplay duration="90" keep_originview="0" enabled="1" enter_next="1"/></pano>'+
		'<pano name="s_46069639"><info title="10-13" pano_id="27530109"/>'+
		'<view autorotatekeepview="0" maxpixelzoom="2.0" fovmin="70" loadscenekeepview="0" fov="120" vlookatmax="90" vlookat="0.45249387306282346" fovmax="120" vlookatmin="-90" hlookat="108.84215279685786" fovtype="MFOV"/>'+
		'<autoplay duration="90" keep_originview="0" enabled="1" enter_next="1"/></pano></panos></config></krpano>',
      };
    </script>
   
    <script type="text/javascript" src="{url:@static/3d/krp_player_1.20.2.1.js}"></script>
    <script src="{url:@static/3d/common.9c9c7b8dc71a3c1a729b.js}"></script>
    <script src="{url:@static/3d/panoPageV2.97b571837636815dd65d.js}"></script>
  </div>
</body>
</html>