{widget:name=public action=taxhallWidget}
<div class="panel panel-default panel-tabs card-view">
  <div class="panel-heading">
    <div class="pull-left">
      <h6 class="panel-title txt-dark">业务窗口介绍</h6>
    </div>
    <div class="pull-right">
      <div  class="tab-struct custom-tab-1">
        <ul role="tablist" class="nav nav-tabs">
          <li class="active" role="presentation">
            <a aria-expanded="true" data-toggle="tab" role="tab" href="#profile_1">对外支付备案</a>
          </li>
          <li role="presentation" class="">
            <a  data-toggle="tab" role="tab" href="#profile_2" aria-expanded="false">所得税申报</a>
          </li>
          <li role="presentation" class="">
            <a  data-toggle="tab" role="tab" href="#profile_3" aria-expanded="false">发票购买申请</a>
          </li>
          <li role="presentation" class="">
            <a  data-toggle="tab" role="tab" href="#profile_4" aria-expanded="false">退税申请</a>
          </li>
          <li role="presentation" class="">
            <a  data-toggle="tab" role="tab" href="#profile_5" aria-expanded="false">所得税优惠</a>
          </li>
        </ul>
      </div>  
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-wrapper collapse in">
    <div class="panel-body">
      <div class="tab-content" style="min-height: 400px;">
        <div  id="profile_1" class="tab-pane fade active in" role="tabpanel">
          <p>这是企业对外支付备案业务介绍、流程介绍以及其他介绍</p>
        </div>
        <div  id="profile_2" class="tab-pane fade in" role="tabpanel">
          <p>这是企业所得税申报业务介绍、流程介绍以及其他介绍</p>
        </div>
        <div  id="profile_3" class="tab-pane fade in" role="tabpanel">
          <p>这是企业发票购买申请业务介绍、流程介绍以及其他介绍</p>
        </div>
        <div  id="profile_4" class="tab-pane fade in" role="tabpanel">
          <p>这是企业退税申请业务介绍、流程介绍以及其他介绍</p>
        </div>
        <div  id="profile_5" class="tab-pane fade in" role="tabpanel">
          <p>这是企业所得税优惠业务介绍、流程介绍以及其他介绍</p>
        </div>
      </div>
    </div>
  </div>
</div>