<style type="text/css">
	.auth-form { width: 600px; }
</style>
<div class="page-wrapper pt-30 pt-100 ma-0 auth-page">
	<div class="container-fluid">
		<!-- Row -->
		<div class="table-struct full-width full-height">
			<div class="table-cell vertical-align-middle auth-form-wrap">
				<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="sp-logo-wrap text-center pa-0 mb-30">
								<a href="{url:/index/index}">
									<img class="brand-img mr-10" src="{url:@static/images/logo.png}"/>
									<span class="brand-text">{$site_full_name}</span>
								</a>
							</div>
							<div class="mb-30">
								<h3 class="text-center txt-dark mb-20">需要密码帮助吗?</h3>
								<h6 class="text-center txt-grey nonecase-font">输入企业注册的验证手机号码，我们将帮助您创建新的登录密码。</h6>
							</div>	
							<div class="form-wrap ml-30 mr-30">
								<form action="{url:/enterprise/resetpwd}" method="post">
									{if:isset($errmsg)}
									<p class="text-center message">{$errmsg}</p>
									{/if}
									<div class="form-group">
										<label class="control-label mb-10">企业验证手机号：</label>
										<input type="text" class="form-control" pattern="mobi" name="mobile" value="{$mobile}" alt="请输入正确的手机号码">
										<label class="valid-msg"></label>
									</div>
									
									<div class="form-group text-center mt-30">
										<button type="submit" class="btn btn-primary" style="width: 120px;">提交</button>
									</div>
								</form>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->	
	</div>
</div>