{echo:JS::import('form');}
<link href="{url:@static/vendors/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet" type="text/css"/>
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <form class="form-horizontal" action="{url:/enterprise/info_act}" method="post" id="main_form" name="main_form">
      <input type="hidden" name="id" value="{$id}">
      <div class="tab-struct custom-tab-1">
        <ul role="tablist" class="nav nav-tabs" id="tabs">
          <li class="active">
            <a data-toggle="tab" role="tab" href="#tab_1">账户信息</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab"  href="#tab_2">基本信息</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#tab_4">税务信息</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab"  href="#tab_3">法人信息</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#tab_5">股东信息</a>
          </li>
        </ul>
        <div class="tab-content" id="tabcontent">
          <!-- 账户信息 -->
          <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">企业账号：</label>
                  <label class="col-md-8 col-sm-8 control-label text-left">{$account}</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">注册日期：</label>
                  <label class="col-md-8 col-sm-8 control-label text-left">{$created_time}</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">验证手机：</label>
                  <label class="col-md-8 col-sm-8 control-label text-left">{$mobile}</label>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">状态：</label>
                  <label class="col-md-8 col-sm-8 control-label text-left">{$statusname}</label>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="col-md-2 col-sm-2 control-label">密钥信息：</label>
                  <label class="col-md-10 col-sm-10 control-label text-left" id="lblkey">**************************************************<a href="javascript:;" onclick="sendSMS();"> <i class="fa fa-lg fa-search" alt="查看密钥"></i> </a></label>

                  <div class="col-md-10 col-sm-10 hidden" id="textdiv">
                    <textarea  class="form-control" id="txtkey" name="txtkey" rows="15" readonly></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 账户信息 -->
          <!-- 基本信息 -->

          <div  id="tab_2" class="tab-pane fade" role="tabpanel">
            <div class="col-md-11 col-lg-11 col-sm-11">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">*企业名称：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="name" value="{$name}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">*企业全名：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="full_name" value="{$full_name}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">成立日期：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="Wdate form-control" name="establish_date" id="establish_date" onfocus="WdatePicker()" value="{$establish_date}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">登记状态：</label>
                  <div class="col-md-8 col-sm-8">
                    <select class="form-control" name="registration_status" id="registration_status">
                      {widget:name=list action=registrationstatusWidget}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">注册资本：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="registered_capital" value="{$registered_capital}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">实纳资本：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="real_capital" value="{$real_capital}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">企业类型：</label>
                  <div class="col-md-8 col-sm-8">
                    <select class="form-control" name="enterprise_type" id="enterprise_type">
                      {widget:name=list action=enterprisetypeWidget}
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">参保人数：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="insured_persons" value="{$insured_persons}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">人员规模：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="staff_num" value="{$staff_num}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">企业电话：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="tel" value="{$tel}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">企业传真：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="fax" value="{$fax}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">经营地址：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="addr" value="{$addr}">
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="col-md-2 col-sm-2 control-label">经营范围：</label>
                  <div class="col-md-10 col-sm-10">
                    <textarea class="form-control" name="business_scope">{$business_scope}</textarea>
                  </div>
                </div>
              </div>
             
            </div>
          </div>
          <!-- 基本信息 -->
          <!-- 法人信息 -->
          <div  id="tab_3" class="tab-pane fade" role="tabpanel">
            <div class="col-md-11 col-sm-11">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">法人姓名：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="legal_representative" value="{$legal_representative}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">联系电话：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="legal_mobile" value="{$legal_mobile}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">法人证件类型：</label>
                  <div class="col-md-8 col-sm-8">
                    <select class="form-control" name="legal_identificationtype" id="legal_identificationtype">
                        {widget:name=list action=identificationWidget}
                      </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">证件号码：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="legal_identificationo" value="{$legal_identificationo}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 基本信息 -->
          <!-- 税务信息 -->
          <div  id="tab_4" class="tab-pane fade" role="tabpanel">
            <div class="col-md-11 col-sm-11">
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">统一社会信用代码：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="socialcredit_no" value="{$socialcredit_no}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">纳税人识别号：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="taxpayer_no" value="{$taxpayer_no}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">工商注册号：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="registration_no" value="{$registration_no}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">组织机构代码：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="organization_no" value="{$organization_no}">
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">出口退税企业?：</label>
                  <div class="col-md-8 col-sm-8">
                    <div class="checkbox checkbox-success">
                      <input name="is_returntax" id="is_returntax" type="checkbox" {if:isset($is_returntax) && $is_returntax} checked {/if} value="1">
                      <label for="is_returntax"> 是</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">纳税信用等级：</label>
                  <div class="col-md-8 col-sm-8">
                    <select class="form-control" name="taxlevel" id="taxlevel">
                      {widget:name=list action=taxlevelWidget}
                    </select>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">一般纳税人?：</label>
                  <div class="col-md-8 col-sm-8">
                    <div class="checkbox checkbox-success">
                      <input name="is_general_taxpayer" id="is_general_taxpayer" type="checkbox" {if:isset($is_general_taxpayer) && $is_general_taxpayer} checked {/if} value="1">
                      <label for="is_general_taxpayer"> 是</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">纳税责任人：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="tax_responsible" value="{$tax_responsible}">
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">纳税人状态?：</label>
                  <div class="col-md-8 col-sm-8">
                    <div class="checkbox checkbox-success">
                      <input name="tax_status" id="tax_status" type="checkbox" {if:isset($tax_status) && $tax_status} checked {/if} value="1">
                      <label for="tax_status"> 是</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="form-group">
                  <label class="col-md-4 col-sm-4 control-label">纳税机关：</label>
                  <div class="col-md-8 col-sm-8">
                    <input type="text" class="form-control" name="tax_office" value="{$tax_office}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 税务信息 -->
          <!-- 股东信息 -->
          <div  id="tab_5" class="tab-pane fade" role="tabpanel">
            <table class="table table-responsive table-hover">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>股东名称</th>
                      <th>股东类型</th>
                      <th>持股比例</th>
                      <th>认缴出资额</th>
                      <th>
                        <a class="btn btn-sm btn-primary" onclick="addgudong();">
                          <i class="fa fa-plus"></i>
                          <span>新增</span>
                        </a>
                      </th>
                  </tr>
              </thead>
              <tbody id="gudongBody">
                  
              </tbody>
            </table>
          </div>
          <!-- 股东信息 -->
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-actions pt-25">
        <div class="form-group">
          <label class="col-md-2 col-sm-2 control-label"></label>
          <div class="col-md-10 col-sm-10">
            {token:key=form}
            <button type="submit" class="btn btn-primary" style="width: 180px;">保存</button>
          </div>
        </div>
      </div>
  </form>
</div>

<div id="dialog_box" style="display: none;width:450px;padding: 5px;" class="box">
  <form id="dialog_form" callback="doSubmit">
    <div class="panel-wrapper collapse in">
      <div class="panel-body">
        <div class="col-md-11 col-sm-11">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" name="mobile" value="{$mobile}" id="mobile" readonly>
              <div class="input-group-addon" style="cursor: pointer;" id="sendSMS" status="">获取验证码</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="code" pattern="\d{6}" placeholder="请输入你收到的验证码">
          </div>
          <div class="form-actions mt-30">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 100px;"> 查看</button>
            </div>
          </div>
      </div>
    </div>
  </form>
</div>

<div id="dialog_gudong" style="display: none;width:650px;padding: 5px;" class="box">
  <form id="form_gudong" callback="saveGudong" class="form-horizontal">
    <div class="panel-wrapper collapse in">
      <div class="panel-body">
        <div class="col-md-11 col-sm-11">
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-3 control-label text-right">股东姓名：</label>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <input class="form-control" name="name" type="text" pattern="required" alt="股东姓名不能为空">
              <label class="valid-msg"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-3 control-label text-right">股东类型：</label>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <select name="type" class="form-control" pattern="required" alt="股东类型不能为空">
                <option></option>
                <option value="1">自然人股东</option>
                <option value="2">企业股东</option>
              </select>
              <label class="valid-msg"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-3 control-label text-right">持股比例：</label>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <input class="form-control" name="hold_rate" type="text" pattern="float" alt="持股比例不能为空">
              <label class="valid-msg"></label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-3 control-label text-right">认缴出资额：</label>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <input class="form-control" name="invested_amount" type="text" pattern="float" alt="认缴出资额不能为空">
              <label class="valid-msg"></label>
            </div>
          </div>
          <div class="form-actions mt-30">
             <label class="col-md-3 col-sm-3 col-xs-3 control-label"></label>
            <div class="col-md-9 col-sm-9 col-xs-9">
              <button type="submit" class="btn btn-primary" style="width: 100px;"> 保存</button>
            </div>

          </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $(document).on('bjui.beforeLoadNavtab',function(e){
    var $navtab=$(e.target)
    alert("ddd");
  });

  $(function(){
    $("#registration_status").val({$registration_status});
    $("#taxlevel").val({$taxlevel});
    $("#enterprise_type").val({$enterprise_type});
    $("#legal_identificationtype").val({$legal_identificationtype});
    getgudong();
  });

  function getgudong() {
    $.ajax({
      type: 'get',
      url: "{url:/enterprise/getgudong}",
      dataType:"json",
      success:function(result){
        if(result["status"]=="success"){
          var html="";
          var idx=0;
          var data=result["data"];
          $.each(data, function(i,item){  
            idx=i+1; 
            html+="<tr><td>" + idx + "</td>";
            html+="<td>" + item["name"] + "</td>";
            html+="<td>" + item["typename"] + "</td>";
            html+="<td>" + item["hold_rate"] + "</td>";
            html+="<td>" + item["invested_amount"] + "</td>";
            html+="<td><a class='btn btn-sm btn-danger' onclick='deleteGudong(" + item["id"] + ")'><i class='fa fa-fw fa-remove'></i>删除</a></td></tr>";
          });
          $("#gudongBody").html(html);
        }
      },
      error:function() {
        swal("获取股东信息发生错误！");
      }
    });
  }

  var submited=false;

  function doSubmit(e) {
      if (submited) return;
      if (e) return;

      var fields = $("#dialog_form").serializeArray();
      submited=true;
      $.ajax({
          type: 'post',
          url: "{url:/enterprise/privatekeybycode}",
          data: fields,
          dataType:"json",
          success:function(result){
              if(result["status"]=="success"){
                $("#lblkey").hide();
                $("#txtkey").val(result["msg"]);
                $("#textdiv").removeClass("hidden");
                art.dialog({id: 'dialog_box'}).close();
              }
              else {
                  swal(result.msg);
              }
              submited=false;
          },
          error:function() {
            swal("发生错误，操作可能失败");
            submited=false;
          }
      });
      return false;
  }

  function deleteGudong(id) {
    $.ajax({
        type: 'post',
        url: "{url:/enterprise/gudong_dele}",
        data: {id:id},
        dataType:"json",
        success:function(result){
            if(result["status"]=="success"){
              getgudong();
              swal("股东信息已成功删除");
            }
            else {
              swal(result['msg']);
            }
        },
        error:function() {
          swal("发生错误，操作可能失败");
        }
    });
    return false;

  }

  function saveGudong(e) {
    if (submited) return;
    if (e) return;
    var fields = $("#form_gudong").serializeArray();
    submited=true;
    $.ajax({
        type: 'post',
        url: "{url:/enterprise/gudong_save}",
        data: fields,
        dataType:"json",
        success:function(result){
            if(result["status"]=="success"){
              getgudong();
              art.dialog({id: 'dialog_gudong'}).close();
            }
            else {
                swal(result['msg']);
            }
            submited=false;
        },
        error:function() {
          swal("发生错误，操作可能失败");
          submited=false;
        }
    });
    return false;
  }

  function addgudong() {
     art.dialog({
      id: 'dialog_gudong', 
      lock: true, 
      title: '新增股东', 
      width: 650, 
      height: 200,  
      content: document.getElementById("dialog_gudong")
    });
    return false;
  }


  function sendSMS() {
     art.dialog({
      id: 'dialog_box', 
      lock: true, 
      title: '密钥查看', 
      width: 450, 
      height: 200,  
      content: document.getElementById("dialog_box")
    });
    return false;
  }

  // #sendSMS.click
  $("#sendSMS").click(function(event) {
      var btn = $("#sendSMS");
      if (btn.attr("status")=="disabled") return;
      var mobi=$("#mobile").val();
      if(mobi=="") {
          swal("手机号码不正确！");
          return false;
      }

      btn.attr("status","disabled");

      $.ajax({
          type: "get",
          url: "{url:/index/sendsms}",
          data: {mobile:mobi,type:'check'},
          dataType: 'json',
          success: function(result) {
              if (result['status'] == 'success') {
                  var i = 120;
                  btn.html(i + '秒');
                  var timer = setInterval(function() {
                      i--;
                      btn.html(i + '秒');
                      if (i <= 0) {
                          clearInterval(timer);
                          btn.html('获取验证码');
                          btn.attr("status", "");
                      }
                  }, 1000);
              } else {
                  swal(result['msg']);
              }
          }
      });
      return false;
  });
  
</script>