<style type="text/css">
	.auth-form { width: 600px; }
</style>
<div class="page-wrapper  pt-30 pt-100 ma-0 auth-page">
	<div class="container-fluid">
		<!-- Row -->
		<div class="table-struct full-width full-height">
			<div class="table-cell vertical-align-middle auth-form-wrap">
				<div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
					<div class="row">
						<div class="col-sm-12 col-xs-12">
							<div class="sp-logo-wrap text-center pa-0 mb-30">
								<span class="brand-text">密码重置</span>
							</div>
							<div class="form-wrap ml-30 mr-30">
								<form class="form-horizontal" action="{url:/enterprise/resetpwd_act}" method="post" id="main_form" name="main_form">
									<input type="hidden" name="id" value="{$id}">
									<div class="message">{$errmsg}</div>
									<div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">企业账号：</label>
							            <div class="col-md-9 col-sm-9">
							                <input type="text" class="form-control" id="account" name="account" value="{$account}" readonly>
							            </div>
							        </div>
							        <div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">企业名称：</label>
							            <div class="col-md-9 col-sm-9">
							              <input type="text" class="form-control" name="name" value="{$name}" readonly>
							              <label class="valid-msg"></label>
							            </div>
							        </div>
							        <div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">*密码：</label>
							            <div class="col-md-9 col-sm-9">
							              <input type="password" class="form-control" name="password" autocomplete="new-password"  bind="repassword" pattern="\w{6,}" alt="密码长度必须大于6位">
							              <label class="valid-msg"></label>
							            </div>
							        </div>
							        <div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">*密码确认：</label>
							            <div class="col-md-9 col-sm-9">
							              <input type="password" class="form-control" name="repassword" autocomplete="new-password" bind="password" alt="密码输入必须一致" pattern="\w{6,}">
							              <label class="valid-msg"></label>
							            </div>
							        </div>
							        <div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">验证手机：</label>
							            <div class="col-md-9 col-sm-9">
							              <div class="input-group">
							                <input type="text" class="form-control" id="mobile" name="mobile" value="{$mobile}" readonly>
							                <div class="input-group-addon" style="cursor: pointer;" id="sendSMS">获取验证码</div>
							              </div>
							            </div>
							        </div>
							        <div class="form-group">
							            <label class="col-md-3 col-sm-3 control-label">*验证码：</label>
							            <div class="col-md-9 col-sm-9">
							              <input type="text" class="form-control" name="code" value="{$code}" pattern="\d{6}" alt="验证码不能为空">
							              <label class="valid-msg"></label>
							            </div>
							        </div>
									
									<div class="form-group mt-30">
										<label class="col-md-3 col-sm-3 control-label"></label>
							            <div class="col-md-9 col-sm-9">
											<button type="submit" class="btn btn-primary" style="width: 120px;">提交</button>
										</div>
									</div>
								</form>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->	
	</div>
</div>

<script type="text/javascript">
	$("#sendSMS").click(function(event) {
        var btn = $("#sendSMS");
        if (btn.attr("status")=="disabled") return;
        var mobi=$("#mobile").val();
        if(mobi=="") {
            swal("手机号码不正确！");
            return false;
        }

        btn.attr("status","disabled");

        $.ajax({
            type: "get",
            url: "{url:/index/sendsms}",
            data: {mobile:mobi,type:'passwd'},
            dataType: 'json',
            success: function(result) {
                if (result['status'] == 'success') {
                    var i = 120;
                    btn.html(i + '秒');
                    var timer = setInterval(function() {
                        i--;
                        btn.html(i + '秒');
                        if (i <= 0) {
                            clearInterval(timer);
                            btn.html('获取验证码');
                            btn.attr("status", "");
                        }
                    }, 1000);
                } else {
                    swal(result['msg']);
                }
            }
        });
    });
</script>