
<form action="{url:/govmeet/index}" method="post" id="main_form" name="main_form">
    <div class="card-header">
        
        <div class="pull-right">
            <div class="form-inline">
              
                <div class="form-group">
                    {widget:name=list action=statusWidget statusMap=$this->entity->statusMap}
                </div>
                <button type="submit" class="btn btn-primary" id="btn_searchId">查找</button>
           </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>会议名称</th>
                    <th>房间号码</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>创建时间</th>
                    <th class="text-center">加入会议</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                {list:items=$data["data"]}
                <tr>
                    <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                    <td>{$item["title"]}</td>
                    <td>{$item["room"]}</td>
                    <td>{$item["begin_time"]}</td>
                    <td>{$item["end_time"]}</td>
                    <td>{$item["created_time"]}</td>
                    <td class="text-center">
                        <a style="color: green;" href="{$item['anonymous_url']}" target="_blank"><i class="fa fa-video-camera"></i></a>
                    </td>
                    <td><span class="badge badge-{$item['label']}">{$item["statusname"]}</span></td>
                    
                </tr>
                {/list}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="page_nav">
        {echo:$data['html']}
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#status").val("{$status}");
    });
</script>

