{echo:JS::import('date');}
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
          <li class="active"><a data-toggle="tab" role="tab" href="#tab_1">基本信息</a></li>
          <li><a data-toggle="tab" role="tab" href="#tab_2">附件资料</a></li>
          <li><a data-toggle="tab" role="tab" href="#tab_3">税务局附件</a></li>
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11 col-xs-11">
              <form class="form-horizontal" id="edit-form" name="edit-form">
                  <input type="hidden" name="id" value="{$id}">
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">减征所属年份:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <select class="form-control" name="year" id="year" disabled>
                      {widget:name=list action=yearWidget}
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">主营业务条目：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <!-- <textarea class="form-control" name="items" readonly rows="3">{$items}</textarea> -->
                      <div id="dist"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">申请说明：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="content" readonly rows="3">{$content}</textarea>
                    </div>
                  </div>
                  
              </form>
            </div>
        </div>
        {if:isset($id) && $id}
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget con=taxbureau sourceid=$id type=$this->attachType con=taxdstx}
        </div>
        <div id="tab_3" class="tab-pane fade in" role="tabpanel">
          {if:$status==2 || $status==3}
          {widget:name=list action=uploadAuthorizedWidget sourceid=$id type=52 con=taxdstx}
          {else:}
          {widget:name=list action=attachmentAuthorizedWidget con=taxdstx sourceid=$id type=52}
          {/if}
        </div>
        {/if}
      </div>
    </div>
  </div>
</div>
{widget:name=public action=distountWidget}
<script type="text/javascript">
    addDist("{$distountid}");
    $(document).ready(function() {
        $("#year").val({$year});
        {if:isset($upld) && $upld==1}
        $("#tabs_1 li").eq(2).addClass('active').siblings().removeClass('active');
        $('#tab_3').addClass('active').siblings().removeClass('active');
        {/if}
    });
</script>