{echo:JS::import('date');}
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
          <li class="active">
            <a data-toggle="tab" role="tab" href="#tab_1">基本信息</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#tab_2">附件资料</a>
          </li>
          <li>
            <a data-toggle="tab" role="tab" href="#tab_3">协同资料</a>
          </li>
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11 col-xs-11">
              <form action="{url:/taxdash/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
                  <input type="hidden" name="id" value="{$id}">
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">协同事项：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <input class="form-control" type="text" name="title" value="{$title}" readonly>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">协同说明：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="content" readonly rows="3">{$content}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">受理说明:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="approved_note">{$approved_note}</textarea>
                    </div>
                </div>
                <div class="form-actions mt-30">
                    {token:key=form}
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        {if:$status==2}
                        <button type="button" class="btn btn-primary mr-20" id="btnsave1">受理</button>
                        <button type="button" class="btn btn-success" id="btnsave2">拒绝</button>
                        {else:}
                        <button type="button" disabled class="btn btn-default mr-20">受理</button>
                        <button type="button" disabled class="btn btn-default">拒绝</button>
                        {/if}
                      </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget sourceid=$id type=6 con=taxdash}
        </div>
        <div id="tab_3" class="tab-pane fade in" role="tabpanel">
          {if:$status==2}
          {widget:name=list action=uploadAuthorizedWidget sourceid=$id type=$this->attachType con=taxdash}
          {else:}
          {widget:name=list action=attachmentAuthorizedWidget sourceid=$id type=$this->attachType con=taxdash}
          {/if}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#btnsave1").on("click",function(){
      swal({   
        title: "您确认要受理申请吗？",   
        text: "受理申请后将无法撤销！",   
        showCancelButton: true,  
        cancelButtonText: "否，再看看",   
        confirmButtonColor: "#635bd6",   
        confirmButtonText: "是，立刻受理",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(3);
        $("#edit-form").submit();
      });
    });

    $("#btnsave2").on("click",function(){
      $("#status").val(4);
      $("#edit-form").submit();
    });

    $(document).ready(function() {
        {if:isset($upld) && $upld==1}
        $("#tabs_1 li").eq(2).addClass('active').siblings().removeClass('active');
        $('#tab_3').addClass('active').siblings().removeClass('active');
        {/if}
    });
</script>