<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="myTabs_7">
          <li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab"  href="#upload_tab_1">基本信息</a></li>
          <li role="presentation" class=""><a  data-toggle="tab"  role="tab" href="#upload_tab_2" aria-expanded="false">附件资料</a></li>
      </ul>
      <div class="tab-content" id="myTabContent_7">
        <div  id="upload_tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11 col-xs-11">
              <form action="{url:/taxrftx/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
                  <input type="hidden" name="id" value="{$id}">
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">退税类型:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <select class="form-control" name="taxation_id" id="taxation_id" disabled="true">
                        {widget:name=list action=taxationWidget}
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">税款所属期：从</label>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <input type="text" class="form-control" name="tax_period_start" placeholder="yyyy-mm-dd" value="{$tax_period_start}" disabled="true">
                    </div>
                    <label class="control-label col-md-1 col-sm-1 col-xs-1">到：</label>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <input type="text" class="form-control" name="tax_period_end" placeholder="yyyy-mm-dd" value="{$tax_period_end}" disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">税票号码：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <input type="text" class="form-control" name="tax_ticket" id="tax_ticket" value="{$tax_ticket}" disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">实缴金额：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <input type="text" class="form-control" name="actual_payamt" id="actual_payamt" value="{$actual_payamt}" disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">申请退税金额：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <input type="text" class="form-control" name="apply_amount" id="apply_amount" value="{$apply_amount}" disabled="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">受理说明：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="approved_note">{$approved_note}</textarea>
                    </div>
                  </div>
                  <div class="form-actions mt-30">
                    {token:key=form}
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        {if:$status==2}
                        <button type="button" class="btn btn-primary mr-20" id="btnsave1">受理申请</button>
                        <button type="button" class="btn btn-success" id="btnsave2">补充资料</button>
                        {else:}
                        <button type="button" disabled class="btn btn-default mr-20">申请受理</button>
                        <button type="button" disabled class="btn btn-default">补充资料</button>
                        {/if}
                      </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
        <div  id="upload_tab_2" class="tab-pane fade" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget con=taxbureau sourceid=$id type=$this->attachType con=taxrftx}
        </div>
      </div>
    </div>
  </div>
</div>
  
<script type="text/javascript">
    $("#btnsave1").on("click",function(){
      swal({   
        title: "您确认要受理申请吗？",   
        text: "受理申请后将无法撤销！",   
        showCancelButton: true,  
        cancelButtonText: "否，再看看",   
        confirmButtonColor: "#635bd6",   
        confirmButtonText: "是，立刻受理",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(4);
        $("#edit-form").submit();
      });
    });

    $("#btnsave2").on("click",function(){
      $("#status").val(3);
      $("#edit-form").submit();
    });

    $(document).ready(function() {
        $("#taxation_id").val({$taxation_id});
    });
</script>