{echo:JS::import('date');}
<div class="panel-body">
  <div class="col-md-11 col-sm-11">
  <form id="edit-form" name="edit-form" class="form-horizontal" action="{url:/taxmeet/save}" method="post">
    {if:isset($id) && $id>0}
    <input type="hidden" name="id" value="{$id}">
    {/if}
    
      {if:isset($errmsg)}
      <div class="message">{$errmsg}</div>
      {/if}
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 会议名称：</label>
        <div class="col-md-9 col-sm-9">
          <input class="form-control" name="title" type="text" value="{$title}" pattern="required">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 会议类型：</label>
        <div class="col-md-3 col-sm-3">
          <select class="form-control" id="type" name="type" pattern="required">
            <option></option>
            <option value="1">企业培训会议</option>
            <option value="2">与政务的讨论会议</option>
            <option value="3">税务内部讨论会议</option>
          </select>
        </div>
        <label class="col-md-3 col-sm-3 control-label">* 会议室号：</label>
        <div class="col-md-3 col-sm-3">
          <input class="form-control" name="room" type="text" value="{$room}" pattern="int">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 会议内容：</label>
        <div class="col-md-9 col-sm-9">
          <textarea class="form-control" name="content" rows="3" pattern="required">{$content}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 税务局登录：</label>
        <div class="col-md-9 col-sm-9">
          <input class="form-control" name="auth_url" type="text" value="{$auth_url}" pattern="required" placeholder="https://ws.hst.com/room/">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 企业/政务登录：</label>
        <div class="col-md-9 col-sm-9">
          <input class="form-control" name="anonymous_url" type="text" value="{$anonymous_url}" pattern="required" placeholder="https://ws.hst.com/room/">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 开始时间：</label>
        <div class="col-md-3 col-sm-3">
          <input class="Wdate form-control" name="begin_time" type="text" pattern="required" value="{$begin_time}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
        </div>
        <label class="col-md-3 col-sm-3 control-label">* 结束时间：</label>
        <div class="col-md-3 col-sm-3">
          <input class="Wdate form-control" name="end_time" type="text" pattern="required" value="{$end_time}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})">
        </div>
      </div>
      <div class="form-actions mt-30">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label"></label>
          <div class="col-md-9 col-sm-9">
            {token:key=form}
            <button type="submit" class="btn btn-sm btn-primary btn-icon left-icon"><i class="fa fa-save"></i> 保存</button>
          </div>
        </div>
      </div>
  </form>
</div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $("#type").val({$type});
  });
</script>