{echo:JS::import('date');}
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
          <li class="active"><a data-toggle="tab" role="tab" href="#tab_1">基本信息</a></li>
          {if:isset($id) && $id}
          <li><a data-toggle="tab" role="tab" href="#tab_2">附件资料</a></li>
          <li><a data-toggle="tab" role="tab" href="#tab_3">协同资料</a></li>
          {/if}
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11 col-xs-11">
              <form action="{url:/govdash/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
                  {if:isset($id) && $id}
                  <input type="hidden" name="id" value="{$id}">
                  {/if}
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">协同部门：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <select class="form-control" name="assist_id" id="assist_id" pattern="required">
                        <option></option>
                        {list:items=GovernmentService::getothers($this->gov_id)}
                        <option value="{$item['id']}">{$item['name']}</option>
                        {/list}
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">协同事项：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <input class="form-control" type="text" name="title" value="{$title}" pattern="required">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">协同说明：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="content" pattern="required" rows="3">{$content}</textarea>
                    </div>
                  </div>
                  {if:isset($status) && ($status==3 || $status==4)}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">受理说明:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="approved_note1" readonly>{$approved_note}</textarea>
                    </div>
                  </div>
                {/if}
                <div class="form-actions mt-30">
                    {token:key=form}
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        {if:!isset($id) || $status==1}
                        <button type="button" class="btn btn-primary mr-20" id="btnsave">保存申请</button>
                        <button type="button" class="btn btn-success" id="btnsubmit">提交申请</button>
                        {else:}
                        <button type="button" disabled class="btn btn-default mr-20">保存申请</button>
                        <button type="button" disabled class="btn btn-default">提交申请</button>
                        {/if}
                      </div>
                    </div>
                </div>
              </form>
            </div>
        </div>
        {if:isset($id)}
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {if:!isset($id) || $status==1}
            {widget:name=list action=uploadAuthorizedWidget sourceid=$id type=6 con=govdash}
          {else:}
            {widget:name=list action=attachmentAuthorizedWidget con=govdash sourceid=$id type=6}
          {/if}
        </div>
        <div id="tab_3" class="tab-pane fade in" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget con=govdash sourceid=$id type=7}
        </div>
        {/if}
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $("#btnsave").on("click",function(){
      $("#status").val(1);
      $("#edit-form").submit();
    });

    $("#btnsubmit").on("click",function(){
      swal({   
        title: "您确认要提交申请吗？",   
        text: "申请提交后将无法对其修改/删除！",   
        showCancelButton: true,  
        cancelButtonText: "否，暂不提交",   
        confirmButtonColor: "#76c880",   
        confirmButtonText: "是，立刻提交",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(2);
        $("#edit-form").submit();
      });
    });

    $(document).ready(function() {

        $("#assist_id").val({$assist_id});
        {if:isset($upld) && $upld==1}
        $("#tabs_1 li").eq(1).addClass('active').siblings().removeClass('active');
        $('#tab_2').addClass('active').siblings().removeClass('active');
        {/if}
    });
</script>