<style type="text/css">
    .vertical-line {border-left: 1px solid #dedede; min-height: 500px;}
    ul.inbox-nav li {border-bottom: 1px solid #dedede;}
</style>
<form action="{url:/taxgtep/index}" method="post" id="main_form" name="main_form">
    <input type="hidden" name="manager_id" value="{$manager_id}">
    <div class="row">
        <aside class="col-lg-2 col-md-4 pr-0">
            <div class="mt-10 mb-20 ml-15 mr-15">
                <select class="form-control" name="eq__mgr_d_dept_id" id="eq__mgr_d_dept_id">
                    {widget:name=list action=deptWidget status=0}
                </select>
            </div>
            <ul class="inbox-nav mb-30">
                {set:$deptid=isset($eq__mgr_d_dept_id)?$eq__mgr_d_dept_id:0}
                {list:items=ManagerService::grantofetpList($deptid)}
                <li {if:$manager_id==$item['id']} class="active" {/if}>
                    <a href="{url:/taxgtep/index/did/$deptid/mid/$item[id]}">
                        <div class="pull-left">{$item['name']}</div>
                        <div class="pull-right">
                            <span {if:$manager_id==$item['id']}class="label label-success"{else:}class="label label-default"{/if}>{$item['num']|0}</span>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                {/list}
            </ul>
        </aside>
        <aside class="col-lg-10 col-md-8 pl-15 vertical-line">
            <div class="panel-heading">
                <div class="pull-left">
                    <div class="button-list">
                        <a class="btn btn-sm btn-primary op-grant">
                            <i class="fa fa-user-plus"></i>
                            <span>新增授权</span>
                        </a>
                        <a class="btn btn-sm btn-primary op-deletes">
                            <i class="fa fa-trash"></i>
                            <span>删除授权</span>
                        </a>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" name="ct__etp_d_name_or_ct__etp_d_full_name" placeholder="企业名称" value="{$ct__etp_d_name_or_ct__etp_d_full_name}">
                        </div>
                        <button type="button" class="btn btn-primary btn-rounded btn-sm" id="btn_searchId">查找</button>
                     </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-body">
                    <div class="table-wrap">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selectall" name="selectall" >
                                    </th>
                                    <th>#</th>
                                    <th>用户名称</th>
                                    <th>企业名称</th>
                                    <th>授权时间</th>
                                    <th style="width: 120px; text-align: center;">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {list:items=$data["data"]}
                                <tr data-refid="{$item['id']}">
                                    <td>
                                        <input type="checkbox" name="selectone[]" value="{$item['id']}">
                                    </td>
                                    <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                                    <td>{$item["managername"]}</td>
                                    <td>{$item["full_name"]}</td>
                                    <td>{$item["created_time"]}</td>
                                    <td style="text-align: center;">
                                        <a class="op-delete" data-original-title="删除授权" href="#"> 
                                            <i class="fa fa-lg fa-trash text-danger"></i> 
                                        </a> 
                                    </td>
                                </tr>
                                {/list}
                            </tbody>
                        </table>
                        <div class="page_nav">
                        {echo:$data['html']}
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
</form>
{widget:name=public action=commandWidget con=taxgtep width=800 height=500}

<script type="text/javascript">
    $(function(){
        $("#eq__mgr_d_dept_id").val({$eq__mgr_d_dept_id});
        $("#eq__mgr_d_dept_id").on("change",function(){
            $("#manager_id").val(0);
            $("#page").val(0);
            $("#main_form").submit();
        });

        $('.op-grant').on('click',function(){
            open_dialog("{url:/taxgtep/grant}","企业授权",800,500,false);
            return false;
        });
    });
</script>