<style type="text/css">
  hr.light-grey-hr {margin-bottom: 15px}
  .Wdate {background-color: #fff;}
</style>
{echo:JS::import('date');}
<div class="col-md-11">
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
          <li class="active"><a data-toggle="tab" role="tab" href="#tab_1">基本信息</a></li>
          {if:isset($id) && $id}
          <li><a data-toggle="tab" role="tab" href="#tab_2">附件资料</a></li>
          {/if}
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="row">
              <div class="col-md-12">
                <div class="form-wrap">
                  <form action="{url:/etpreco/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
                    {if:isset($id)}
                    <input type="hidden" name="id" value="{$id}">
                    {/if}
                    <input type="hidden" name="status" id="status" value="{$status}">
                    <div class="form-body">
                      <table style="width: 100%;">
                        <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                          境内支付人
                        </td>
                        <td>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*机构/个人名:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="name_n" value="{$name_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">纳税识别号:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="taxno_n" value="{$taxno_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*付汇银行:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="bankname_n" value="{$bankname_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*付汇账号:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="payano_n" value="{$payano_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*联系人:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="contacts_n" value="{$contacts_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*联系电话:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="telephone_n" value="{$telephone_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">主管地税机关:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="taxbureau_n" value="{$taxbureau_n}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">地税机关管理码:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="taxbureaucode_no" value="{$taxbureaucode_no}">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2">地址或住所:</label>
                            <div class="col-md-10">
                              <input type="text" class="form-control" name="address_n" value="{$address_n}">
                            </div>
                          </div>
                        </td>
                      </table>
                      <br>
                      <table style="width: 100%;">
                        <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                          境外收款人
                        </td>
                        <td>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*名称:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="name_w" value="{$name_w}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*所属国家/地区:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="area_w" value="{$area_w}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">地址:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="address_w" value="{$address_w}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4"></label>
                                <div class="col-md-8">
                                  <div class="checkbox checkbox-success">
                                    <input name="is_related_w" id="is_related_w" type="checkbox" {if:isset($is_related_w) && $is_related_w} checked {/if} value="1">
                                    <label for="is_related_w"> 境内外机构是否关联 </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*收汇银行:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="bankname_w" value="{$bankname_w}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*收汇帐号:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="receiveno_w" value="{$receiveno_w}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </table>
                      <br>
                      <table style="width: 100%;">
                        <td style="width: 30px; background-color: #4c7430; text-align: center;vertical-align: middle;padding: 5px; color: #fff;">
                          合同(协议)信息
                        </td>
                        <td>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*合同名称:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="name_h" value="{$name_h}" pattern="required">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*合同号:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control" name="number_h" value="{$number_h}" pattern="required">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*合同总金额:</label>
                                <div class="col-md-5">
                                  <input type="text" class="form-control" name="totalamt_h" value="{$totalamt_h}" pattern="float">
                                </div>
                                <div class="col-md-3">
                                  <select class="form-control" id="totalcurrency_h" name="totalcurrency_h" pattern="required">
                                    <option></option>
                                    <option value="RBM">人民币</option>
                                    <option value="USD">美元</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*已付金额:</label>
                                <div class="col-md-5">
                                  <input type="text" class="form-control" name="paidamt_h" value="{$paidamt_h}" pattern="float">
                                </div>
                                <div class="col-md-3">
                                  <select class="form-control" id="paidcurrency_h" name="paidcurrency_h" pattern="required">
                                    <option></option>
                                    <option value="RBM">人民币</option>
                                    <option value="USD">美元</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*本次付汇金额:</label>
                                <div class="col-md-5">
                                  <input type="text" class="form-control" name="payamt_h" value="{$payamt_h}" pattern="float">
                                </div>
                                <div class="col-md-3">
                                  <select class="form-control" name="paycurrency_h" id="paycurrency_h" pattern="required">
                                    <option></option>
                                    <option value="RBM">人民币</option>
                                    <option value="USD">美元</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*付汇日期:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control Wdate" name="paydate_h" value="{$paydate_h}" pattern="required" onfocus="WdatePicker()" readonly style="background-color: #fff;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*合同执行期从:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control Wdate" name="begindate_h" value="{$begindate_h}" pattern="required" onfocus="WdatePicker()" readonly style="background-color: #fff;">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label col-md-4">*到:</label>
                                <div class="col-md-8">
                                  <input type="text" class="form-control Wdate" name="enddate_h" value="{$enddate_h}" pattern="required" onfocus="WdatePicker()" readonly style="background-color: #fff;">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label col-md-2">声明:</label>
                            <div class="col-md-10">
                              <textarea class="form-control" name="note">{$note}</textarea>
                            </div>
                          </div>
                          {if:isset($status) && ($status==3 || $status==4)}
                          <div class="form-group">
                            <label class="control-label col-md-2">受理说明:</label>
                            <div class="col-md-10">
                              <textarea class="form-control" name="approved_note1" readonly>{$approved_note}</textarea>
                            </div>
                          </div>
                          {/if}
                          <div class="form-actions mt-30">
                            {token:key=form}
                            <div class="form-group">
                              <label class="control-label col-md-2 col-sm-2 col-xs-2"></label>
                              <div class="col-md-10 col-sm-10 col-xs-10">
                                {if:!isset($id) || $status==1  || $status==3}
                                <button type="button" class="btn btn-primary mr-20" id="btnsave">保存申请</button>
                                <button type="button" class="btn btn-success" id="btnsubmit">提交申请</button>
                                {/if}
                              </div>
                            </div>
                          </div>
                        </td>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        {if:isset($id) && $id}
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {if:$status==1 || $status==3}
            {widget:name=list action=uploadUnauthorizedWidget sourceid=$id type=$this->attachType con=etpreco}
          {else:}  
            {widget:name=list action=attachmentUnauthorizedWidget sourceid=$id type=$this->attachType}
          {/if}
        </div>
        {/if}
      </div>
    </div>
  </div>
</div>
</div>
{widget:name=public action=downWidget} 

<script type="text/javascript">
  $("#btnsave").on("click",function(){
      $("#status").val(1);
      $("#edit-form").submit();
    });

    $("#btnsubmit").on("click",function(){
      swal({   
        title: "您确认要提交申请吗？",   
        text: "申请提交后将无法对其修改/删除！",   
        showCancelButton: true,  
        cancelButtonText: "否，暂不提交",   
        confirmButtonColor: "#76c880",   
        confirmButtonText: "是，立刻提交",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(2);
        $("#edit-form").submit();
      });
    });

  $(document).ready(function() {
      $("#totalcurrency_h").val('{$totalcurrency_h}');
      $("#paidcurrency_h").val('{$paidcurrency_h}');
      $("#paycurrency_h").val('{$paycurrency_h}');
      {if:isset($upld) && $upld==1}
      $("#tabs_1 li").eq(1).addClass('active').siblings().removeClass('active');
      $('#tab_2').addClass('active').siblings().removeClass('active');
      {/if}
  });
</script>
    
