<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="myTabs_7">
          <li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab"  href="#upload_tab_1">基本信息</a></li>
          <li role="presentation" class=""><a  data-toggle="tab"  role="tab" href="#upload_tab_2" aria-expanded="false">附件资料</a></li>
      </ul>
      <div class="tab-content" id="myTabContent_7">
        <div  id="upload_tab_1" class="tab-pane fade active in" role="tabpanel">
          <!-- start -->
          <div class="col-md-11 col-sm-11 col-xs-11">
            <form action="{url:/taxinvo/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
              <input type="hidden" name="id" value="{$id}">
              <input type="hidden" name="status" id="status" value="{$status}">
              <div class="form-body">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">申请类型:</label>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" name="buy_type" id="buy_type" disabled="true">
                      {widget:name=list action=buyinvoicetypeWidget}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">发票种类:</label>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <select class="form-control" name="invoicetype_id" id="invoicetype_id" disabled="true">
                      {widget:name=list action=invoicetypeWidget}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-3">调整数量:</label>
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control" name="buy_num" id="buy_num" value="{$buy_num}" disabled="true">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">受理说明:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="approved_note">{$approved_note}</textarea>
                    </div>
                </div>
                <div class="form-actions mt-30">
                    {token:key=form}
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        {if:$status==2}
                        <button type="button" class="btn btn-primary mr-20" id="btnsave1">受理申请</button>
                        <button type="button" class="btn btn-success" id="btnsave2">补充资料</button>
                        {else:}
                        <button type="button" disabled class="btn btn-default mr-20">申请受理</button>
                        <button type="button" disabled class="btn btn-default">补充资料</button>
                        {/if}
                      </div>
                    </div>
                </div>
              </div>
            </form>
          </div>
          <!-- end -->
        </div>
        <div  id="upload_tab_2" class="tab-pane fade" role="tabpanel">
          {widget:name=list action=attachmentAuthorizedWidget con=taxbureau sourceid=$id type=$this->attachType con=taxinvo}
        </div>
      </div>
    </div>
  </div>
</div>
       
  
<script type="text/javascript">
    $("#btnsave1").on("click",function(){
      swal({   
        title: "您确认要受理申请吗？",   
        text: "受理申请后将无法撤销！",   
        showCancelButton: true,  
        cancelButtonText: "否，再看看",   
        confirmButtonColor: "#635bd6",   
        confirmButtonText: "是，立刻受理",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(4);
        $("#edit-form").submit();
      });
    });

    $("#btnsave2").on("click",function(){
      $("#status").val(3);
      $("#edit-form").submit();
    });

    $(document).ready(function() {
        $("#buy_type").val({$buy_type});
        $("#invoicetype_id").val({$invoicetype_id});
    });
</script>