<form action="{url:/govrole/index}" method="post" id="main_form" name="main_form">
    <div class="card-header">
        <div class="pull-left">
            <div class="button-list">
                <button class="btn btn-primary op-new">
                  <i class="fa fa-plus"></i>
                  <span>新增</span>
                </button>
                <button class="btn btn-primary op-deletes">
                  <i class="fa fa-trash"></i>
                  <span>删除</span>
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="ct__name" name="ct__name" placeholder="角色名称" value="{$ct__name}">
                </div>
                <div class="form-group">
                    {widget:name=list action=statusWidget statusMap=$this->entity->statusMap}
                </div>
                <button type="submit" class="btn btn-primary" id="btn_searchId">查找</button>
           </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectall" name="selectall" >
                    </th>
                    <th>#</th>
                    <th>角色名称</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>状态</th>
                    <th style="width: 120px; text-align: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                {list:items=$data["data"]}
                <tr>
                    <td>
                        <input type="checkbox" name="selectone[]" value="{$item['id']}">
                    </td>
                    <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                    <td>{$item["name"]}</td>
                    <td>{$item["created_time"]}</td>
                    <td>{$item["updated_time"]}</td>
                    <td><span class="badge badge-{$item['label']}">{$item["statusname"]}</span></td>
                    <td style="text-align: center;">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-refid="{$item['id']}">
                            处理
                            <span class="sr-only"></span>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item op-edit"><i class="fa fa-fw fa-pencil"></i> 修改</a>
                                {if:$item["status"]==1}
                                <a class="dropdown-item" onclick="changeStatus({$item['id']},2);"><i class="fa fa-fw fa-lock"></i> 禁止</a>
                                {else:}
                                <a class="dropdown-item" onclick="changeStatus({$item['id']},1);"><i class="fa fa-fw fa-unlock-alt"></i> 开启</a>
                                {/if}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item op-delete"><i class="fa fa-fw fa-trash"></i> 删除</a>
                            </div>
                        </button>
                    </td>
                </tr>
                {/list}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="page_nav">
        {echo:$data['html']}
        </div>
    </div>
</form>

{widget:name=public action=commandWidget con=govrole width=1000 height=550 title=角色}

<script type="text/javascript">
    $(document).ready(function() {
        $("#status").val("{$status}");
    });
</script>
