<div class="panel-body">
  <form action="{url:/taxgtgv/grant}" method="post" class="form-horizontal" id="edit-form" name="edit-form">
    <div class="col-md-11 col-sm-11">
      <div class="form-group">
        <label class="col-md-2 col-sm-2 control-label">部门名称：</label>
        <div class="col-md-3 col-sm-3">
          <select class="form-control" name="dept_id" id="dept_id">
              {widget:name=list action=deptWidget status=0}
          </select>
        </div>
        <label class="col-md-2 col-sm-2 control-label">用户名称：</label>
        <div class="col-md-3 col-sm-3">
          <select class="form-control" name="manager_id" id="manager_id">
            <option value="">选择用户</option>
            {list:items=ManagerService::managergrantMap(2,0,$dept_id)}
                <option value="{$key}">{$item}</option>
            {/list}
          </select>
        </div>
        <div class="col-md-1 col-sm-2">
          <a type="button" class="btn btn-sm btn-primary" id="btn_select">
            <i class="fa fa-fw fa-plus"></i>
            选择政务单位
          </a>
        </div>
      </div>
    </div>
  </form>
  <div class="table-wrap">
      <table class="table table-responsive table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>政务单位名称</th>
                  <th>授权时间</th>
                  <th style="width: 120px; text-align: center;">操作</th>
              </tr>
          </thead>
          <tbody>
             {list:items=$data['data']}
             <tr data-refid="{$item['id']}">
                  <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                  <td>{$item['full_name']}</td>
                  <td>{$item['created_time']}</td>
                  <td style="text-align: center;">
                      <a class="op-delete" data-toggle="tooltip" data-original-title="删除授权"> 
                          <i class="fa fa-lg fa-trash text-danger"></i> 
                      </a> 
                  </td>
              </tr>
             {/list}
          </tbody>
      </table>
      <div class="page_nav">
        {echo:$data['html']}
      </div>
  </div>
 </div>
 {widget:name=public action=commandWidget con=taxgtgv width=800 height=500}

<script type="text/javascript">
  $(function(){
    $("#dept_id").val("{$dept_id}");
    $("#manager_id").val("{$manager_id}");

    $("#manager_id").on("change",function(){
      $("#edit-form").submit();
    });

    $("#dept_id").on("change",function(){
      $("#manager_id").val(0);
      $("#edit-form").submit();
    });

    $("#btn_select").on("click",function(){
        var mid=$("#manager_id").val();
        if (mid=="" || mid==null) {
          swal("请先选择要授权的用户！");
          return false;
        }
        window.location="{url:/taxgtgv/selectgov/manager_id/}" + mid;
        return false;
    });
  });
</script>


       