{echo:JS::import('date');}
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <div  class="tab-struct custom-tab-1">
      <ul role="tablist" class="nav nav-tabs" id="tabs_1">
          <li class="active"><a data-toggle="tab" role="tab" href="#tab_1">基本信息</a></li>
          {if:isset($id) && $id}
          <li><a data-toggle="tab" role="tab" href="#tab_2">附件资料</a></li>
          <li><a data-toggle="tab" role="tab" href="#tab_3">税务局附件</a></li>
          {/if}
      </ul>
      <div class="tab-content" id="tab_content">
        <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
            <div class="col-md-11 col-sm-11 col-xs-11">
              <form action="{url:/etpdstx/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
                  {if:isset($id) && $id}
                  <input type="hidden" name="id" value="{$id}">
                  {/if}
                  <input type="hidden" name="status" id="status" value="{$status}">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">减征所属年份:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <select class="form-control" name="year" id="year" pattern="required">
                      {widget:name=list action=yearWidget}
                    </select>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">主营业务条目：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="items" pattern="required" rows="3">{$items}</textarea>
                    </div>
                    
                  </div> -->
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">主营业务条目：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
		{if:!isset($id) || $status==1 || $status==3}
                      <button type="button" class="btn btn-primary btn-sm" id="btn_distount">选择</button>
		{/if}
                      <input type="text"  name="items" id="items"  hidden value="{$items}" >
                      <input type="text" id="cid" name="distountid" hidden pattern="required" alt="请选择业务条目" value="{$distountid}">
                      <div id="dist"></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">申请说明：</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="content" pattern="required" rows="3">{$content}</textarea>
                    </div>
                  </div>
                  {if:isset($status) && ($status==3 || $status==4)}
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-3">受理说明:</label>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                      <textarea class="form-control" name="approved_note1" readonly>{$approved_note}</textarea>
                    </div>
                  </div>
                  {/if}
                  <div class="form-actions mt-30">
                    {token:key=form}
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                      <div class="col-md-9 col-sm-9 col-xs-9">
                        {if:!isset($id) || $status==1}
                        <button type="button" class="btn btn-primary mr-20" id="btnsave">保存申请</button>
                        {/if}
                        {if:!isset($id) || $status==1 || $status==3}
                        <button type="button" class="btn btn-success" id="btnsubmit">提交申请</button>
                        {/if}
                      </div>
                    </div>
                  </div>
              </form>
            </div>
        </div>
        {if:isset($id) && $id}
        <div id="tab_2" class="tab-pane fade in" role="tabpanel">
          {if:$status==1 || $status==3}
            {widget:name=list action=uploadUnauthorizedWidget sourceid=$id type=$this->attachType con=etpdstx}
          {else:}  
            {widget:name=list action=attachmentUnauthorizedWidget
 sourceid=$id type=$this->attachType}
          {/if}
        </div>
        <div id="tab_3" class="tab-pane fade in" role="tabpanel">
          {widget:name=list action=attachmentUnauthorizedWidget
 sourceid=$id type=52}
        </div>
        {/if}
      </div>
    </div>
  </div>
</div>
{widget:name=public action=downWidget} 
{widget:name=public action=distountWidget}
<script type="text/javascript">
    $(function(){
        $('#btn_distount').on('click',function(){
          art.dialog.data('cid',$("#cid").val());
          art.dialog.open('{url:/etpdstx/distount}',{id:'adistount',resize:false,title:'选择主营业务条目',width:800,height:460});
            return false;
        });
        addDist("{$distountid}");
    })

    $("#btnsave").on("click",function(){
      $("#status").val(1);
      $("#edit-form").submit();
    });

    $("#btnsubmit").on("click",function(){
      swal({   
        title: "您确认要提交申请吗？",   
        text: "申请提交后将无法对其修改/删除！",   
        showCancelButton: true,  
        cancelButtonText: "否，暂不提交",   
        confirmButtonColor: "#76c880",   
        confirmButtonText: "是，立刻提交",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(2);
        $("#edit-form").submit();
      });
    });


    $(document).ready(function() {
     

        $("#year").val({$year});
        {if:isset($upld) && $upld==1}
        $("#tabs_1 li").eq(1).addClass('active').siblings().removeClass('active');
        $('#tab_2').addClass('active').siblings().removeClass('active');
        {/if}
    });
</script>