<div class="card-body">
  <div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{$doc_num|0}</h3>
          <p>上链文档</p>
        </div>
        <div class="icon">
          <i class="fa fa-file"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{$datashare_num|0}</h3>
          <p>协同申请</p>
        </div>
        <div class="icon">
          <i class="fa fa-exchange"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{$distax_num|0}</h3>
          <p>优惠申请</p>
        </div>
        <div class="icon">
          <i class="fa fa-rmb"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>{$user_num|0}</h3>
          <p>开通用户</p>
        </div>
        <div class="icon">
          <i class="fa fa-user"></i>
        </div>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <!-- card -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">最新协同申请(10条)</h3>
          <div class="card-tools">
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>协同单位</th>
                  <th>协同事项</th>
                  <th>申请时间</th>
                  <th style="width: 80px;">状态</th>
                </tr>
              </thead>
              <tbody>
                {list:items=$datashare}
                <tr>
                  <td>{$item["aitname"]}</td>
                  <td>{echo:TString::msubstr($item["title"],0,30)}</td>
                  <td>{$item["created_time"]}</td>
                  <td><span class="badge badge-{$item['label']}">{$item["statusname"]}</span></td>
                </tr>
                {/list}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
       <!-- card -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">最新优惠申请(10条)</h3>
          <div class="card-tools">
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
              <tr>
                <th>企业名称</th>
                <th>年份</th>
                <th style="width: 80px;">状态</th>
              </tr>
              </thead>
              <tbody>
                {list:items=$distax}
                <tr>
                  <td><a href="javascript:;" onclick="swal('{$item['full_name']}')" style="color: blue;">{$item["etpname"]}</a></td>
                  <td>{$item["year"]}</td>
                  <td><span class="badge badge-{$item['label']}">{$item["statusname"]}</span></td>
                </tr>
                {/list}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
      
    </div>
  </div>

</div>
