<div class="panel-body">
  <form id="edit-form" name="edit-form" class="form-horizontal" action="{url:/taxdept/save}" method="post">
    {if:isset($id)}
    <input type="hidden" name="id" value="{$id}">
    {/if}
    <div class="col-md-11 col-sm-11">
      {if:isset($errmsg)}
      <div class="message">{$errmsg}</div>
      {/if}
      <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">* 部门名称：</label>
        <div class="col-md-9 col-sm-9">
          <input class="form-control" name="name" id="name" type="text" value="{$name}" pattern="required">
        </div>
      </div>
     <!-- <div class="form-group">
        <label class="col-md-3 col-sm-3 control-label">参与线上互动：</label>
        <div class="col-md-3 col-sm-3">
          <div class="checkbox checkbox-success">
            <input name="is_msgofetp" id="is_msgofetp" type="checkbox" {if:isset($is_msgofetp) && $is_msgofetp} checked {/if} value="1">
            <label for="is_msgofetp"> 参与企业互动 </label>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">
          <div class="checkbox checkbox-success">
            <input name="is_msgofgov" id="is_msgofgov" type="checkbox" {if:isset($is_msgofgov) && $is_msgofgov} checked {/if} value="1">
            <label for="is_msgofgov"> 参与政务互动 </label>
          </div>
        </div>
      </div>-->
      <div class="form-actions mt-30">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 control-label"></label>
          <div class="col-md-9 col-sm-9">
            {token:key=form}
            <button type="submit" class="btn btn-sm btn-primary btn-icon left-icon"><i class="fa fa-save"></i> 保存</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
