<form action="{url:/govdstx/index}" method="post" id="main_form" name="main_form">
  <div class="card-header">
      <div class="pull-left">
          
      </div>
      <div class="pull-right">
          <div class="form-inline">
              <div class="form-group">
                  <input type="text" class="form-control seach" name="ct__etp_d_full_name" placeholder="企业名称" value="{$ct__etp_d_full_name}">
              </div>
              <div class="form-group">
                  {widget:name=list action=statusWidget statusMap=$this->entity->statusMap}
              </div>
              <button type="submit" class="btn btn-primary btn-sm" id="btn_searchId">查找
              </button>
           </div>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>企业名称</th>
                <th>年份</th>
                <th>主营业务条目</th>
                <th>申请说明</th>
                <th>申请时间</th>
                <th>受理时间</th>
                <th>状态</th>
                <th style="width: 100px; text-align: center;">操作</th>
            </tr>
        </thead>
        <tbody>
            {list:items=$data["data"]}
            <tr data-refid="{$item['id']}">
                <td>{echo:Common::gridIndex($data["page"],$key)}</td>
                <td><a href="javascript:;" onclick="swal('{$item['full_name']}')" style="color: blue;">{$item["etpname"]}</a></td>
                <td>{$item["year"]}</td>
                <td>{echo:TString::msubstr($item["items"],0,30)}</td>
                <td>{echo:TString::msubstr($item["content"],0,30)}</td>
                <td>{$item['submit_time']}</td>
                <td>{$item['approved_time']}</td>
                <td><span class="badge badge-{$item['label']}">{$item["statusname"]}</span></td>
                <td class="text-nowrap text-center">
                  <a class="op-handle"  title="查看/受理" href="#"> 
                    <i class="fa fa-lg fa-edit text-primary"></i> 
                  </a> 
                </td>
            </tr>
            {/list}
        </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="page_nav">
    {echo:$data['html']}
    </div>
  </div>
</form>

{widget:name=public action=commandWidget con=govdstx width=900 height=550 title=所得税优惠申请}

<script type="text/javascript">
    $(document).ready(function() {
      $("#status").val("{$status}");
    });
</script>

